*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenedor{
    background-color: rgb(5, 7, 37);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contenedor > h1{
    padding: 20px;
    text-align: center;
    color: #fff;
}

/* Estilos del div que contiene los elementos */
.row div {
    color: #fff;
    border: 2px solid rgb(0, 132, 255);
    padding: 10px;
}
.row img{
    width: 10%;
}
