*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor{
    background: url("../images/fondo-index.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-main-secciones{
    /* background: linear-gradient(90deg, rgb(0, 0, 20), rgb(0, 0, 94)); */
    width: 100%;
    height: 100vh;
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; 
}

.main-secciones-img{
    text-align: center;
}

.main-secciones-img img{
    width: 100%;
}

.main-secciones-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.main-secciones-info .saludo{
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

.main-secciones-info .nombre{
    color: white;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
}
.main-secciones-info .profesion{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.main-redes {
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 20px;
}
.main-redes p{
    padding: 1%;
    background-color: #3a68ad;
    border-radius: 10px;
}

@media screen and (max-width: 1024px){
    .main-secciones-img img{
        width: 70%;
    }
}